.title {
  font-size: 2.3rem;
  font-weight: 500;
}

.section {
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #c8c7c7;
}

.section h3 {
  display: inline;
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 0.8rem;
}

.section h4 {
  font-size: 1.2rem;
  font-weight: normal;
  text-decoration: line-through;
  color: #bfbfbf;
}
.quantityAndTotal {
  margin: 10px 30px 2px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerQuantity {
  border: 1px solid #c8c7c7;
  border-radius: 0.3rem;
  padding: 0.7rem;
}

.containerQuantity span {
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 2rem;
}

.containerQuantity span:first-child {
  cursor: pointer;
}

.containerQuantity span:last-child {
  margin-right: 0;
  cursor: pointer;
}

.containerTotal span:last-child {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.4rem;
  color: rgb(0, 0, 0);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.buttons button {
  padding: 1rem 0;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  color: #eee;
}

.buttons button:first-child {
  background-color: #000000;
  flex: 1;
}

.buttons button:last-child {
  background-color: rgb(255, 0, 0);
  flex: 1;
}

.textDetails {
  color: #bfbfbf;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}

.inner-dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
}

.outter-dot {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  border: rgb(0, 0, 0) solid 1px;
}

@media screen and (min-width: 576px) {
  .container {
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }
}
